
<div class="container">
  <h2>Log in</h2>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <form>
      <div class="form-group">
          <%= f.label :email %>
          <%= f.text_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: "current-password", class: 'form-control' %>
      </div>

      <div class="form-group">
        <% if devise_mapping.rememberable? %>
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me, class: 'form-control'%>
        <% end %>
      </div>
      <br/>

      <div class="actions">
        <%= f.submit "Log in", class: "btn btn-success" %>
      </div>
    </form>
  <%end%>
  <%= render "users/shared/links" %>
</div>

