

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>short url</th>
      <th>Actions</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @file_uploaders.each do |file_uploader| %>
      <tr>
        <td><%= file_uploader.title %></td>
        <td><%= file_uploader.description %></td>
        <td><%= file_uploader.url %></td>
        <td><%= link_to 'Show', file_uploader, class: "btn btn-success" %></td>
        <td><%= link_to 'Edit', edit_file_uploader_path(file_uploader), class: "btn btn-primary" %></td>
        <td><%= link_to 'Destroy', file_uploader, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
